CompileFlags:
  Compiler: "clang++"
  Add:
    - "-std=c++23"
    - "-D_ALLOW_COMPILER_AND_STL_VERSION_MISMATCH"
    - "-Wno-unknown-argument"

    # --- Windows Paths (Clang needs these for MSVC STL) ---
    - "-isystem"
    - "C:/Program Files (x86)/Microsoft Visual Studio/18/BuildTools/VC/Tools/MSVC/14.50.35717/include"
    - "-isystem"
    - "H:/Windows Kits/10/Include/10.0.26100.0/ucrt"
    - "-isystem"
    - "H:/Windows Kits/10/Include/10.0.26100.0/shared"
    - "-isystem"
    - "H:/Windows Kits/10/Include/10.0.26100.0/um"

  CompilationDatabase: build/

Diagnostics:
  Suppress: ["include-cleaner"]
